<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thien.a123go">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageMenuActivity"
            android:label="@string/title_activity_manage_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AddFoodActivity"
            android:label="@string/title_activity_add_food"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ManageMenuActivity" />
        </activity>
        <activity
            android:name=".activity.ManageCounterActivity"
            android:label="@string/title_activity_manage_counter"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SearchFoodActivity"
            android:label="@string/title_activity_search_food">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.FoodDetailActivity"
            android:label="@string/title_activity_food_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CounterDetailActivity"
            android:label="@string/title_activity_counter_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>